.swiper {
  max-width: 960px;
  max-height: 100vh;
}


.swiper-slide {
  width: auto;
  height: auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px !important;
}
